<h1>Edit Recipe</h1>

<form action='/recipes/<%=@recipe.id%>' method="post">
<input type="hidden" name='_method' value="patch">

<label>Name</label>
<input type="text" name="name" value="<%=@recipe.name%>">

<label>Ingredients</label>
<input type="text" name="ingredients" value="<%=@recipe.ingredients%>">

<label>Rating</label>
<input type="integer" name="rating" value="<%=@recipe.rating%>">

<input type="Submit">
</form>


<a href='/recipes/<%=@recipe.id%>'> Back To Recipe</a><br><br>
<a href='/users'> Member </a>&nbsp; &nbsp;
<a href='/recipes'> Recipes </a>&nbsp; &nbsp;
<a href='/favorites'> favorites </a>
