<h1><%=@recipe.name%></h1>

<h3>Rating : <%=@recipe.rating%></h3>
<h3>Ingredients : <%=@recipe.ingredients%></h3>

<a href='/recipes/new'> Create New Recipe </a>&nbsp; &nbsp;
<a href='/recipes/<%=@recipe.id%>/edit'> Edit Recipe</a><br><br>

<form action='/recipes/<%=@recipe.id%>' method="post">
<input type='hidden' name='_method' value="delete">
<input type="submit" value="Delete Recipe">
</form>

<a href='/users'> Member </a>&nbsp; &nbsp;
<a href='/recipes'> Recipes </a>&nbsp; &nbsp;
<a href='/favorites'> favorites </a>
